
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

[v-cloak] {
  display: none;
}
.alert-sm {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}
